@charset "UTF-8";
* {
	padding : 0;
	margin : 0;
	box-sizing : border-box;
}
body {
	height: 100vh;
	overflow-y: auto;
	background-color: #D1D1D1;
}
html{
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	font-size: 10px;
	background-color: #000;
	margin-right: calc(-1 * (100vw - 100%));
}
header {
	display : flex;
	height : 80px;
	background-color : #fff;
	justify-content : space-between;
	position: sticky;
	top:0;
	z-index: 10;
}
#banner .banner_img {
	width : 100px;
	height : 80px;
	object-fit : contain;
	margin-left : 10px;
}
#banner {
	margin: 0;
}
#member {
	box-sizing : border-box;
	display: flex;
	flex-direction: row;
	position:relative;
}
#member button {
	width : 50px;
	height : 20px;
	border-style: none;
	border-radius : 10px 10px;
	background-color: #fff;
	text-align : center;
	color : #000;
	font-size : 10px;
	text-decoration : none;
	margin : 10px 10px 0 0;
	cursor : pointer;
	transform: translateY(2px);
	transition: all 0.5s;
}
#member button:hover {
	border : 1px solid #7F7F7F;
	color : #fff;
	box-shadow: 0 0.5em 0.5em -0.4em #000;
	background-color: #6E6E6E;
	transform: translateY(-2px);
	transition: all 0.5s;
}
nav {
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-content : center;
	height: 8rem;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	transition: none;
}
nav ul {
	align-content: center;
}

nav li {
	font-size : 2rem;
	display: inline-block;
	list-style : none;
	padding : 3px 15px;
	transform: translate(2px, 2px);
	transition: all 0.5s;
	cursor : pointer;
}
nav li:hover {
	box-shadow: 0.5em 0.5em 1em -0.2em #000;
	border-radius: 5px 5px;
	transform: translate(-2px, -2px);
	transition: all 0.5s;
	color: blue;
}
nav a {
	width: 100px;
	text-align : center;
	line-height: 200%;
	text-decoration : none;
	color: blue;
}
#banner {
	margin :0;
}
#searchBox {
	padding-top : 2.8rem;
	right: 15.5rem;
	position: absolute;
    width: 0; /* 기본 너비를 0으로 설정 */
    overflow: hidden; /* 넘치는 내용은 숨김 */
    transition: width 0.5s ease; /* 너비 변경 시 부드럽게 전환 */
    white-space: nowrap; /* 줄 바꿈 방지 */
}
#searchBox.show {
    width: 200px; /* show 클래스가 추가될 때 height 값을 auto로 변경 */
}
#searchBox #search {
	padding: .2rem;
	width: 17.5rem;
}
#search_imgbox {
	margin-top: 2rem;
	margin-right : 0;
	position: absolute;
	right: 13rem;
	border-radius: 5%;
	background-color: #FFF;
}
#search_imgbox img{
	width: 3.8rem;
	height: 3.8rem;
	overflow: hidden;
}
#search_imgbox label:active img {
	transform: scale(0.9);
 	-webkit-transform: scale(0.9); /* 크롬, 사파리 */
 	-moz-transform: scale(0.9);  /* 파이어폭스 */
 	-ms-transform: scale(0.9); /* IE */
  	-o-transform: scale(0.9);
	transition: all .2s;
}
#search_imgbox label img {
	transform: scale(1);
	transition: all 0.05s ease-out;
}
#search_imgbox:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1); /* 크롬, 사파리 */
  -moz-transform: scale(1.1);  /* 파이어폭스 */
  -ms-transform: scale(1.1); /* IE */
  -o-transform: scale(1.1);  /* 오페라 */
  transition: all .7s;
}
