@charset "UTF-8";
* {
	padding : 0;
	margin : 0;
	box-sizing : border-box;
}
body {
	height: 100vh;
	overflow-y: auto;
	background-color: #D1D1D1;
}
html{
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	font-size: 10px;
	background-color: #000;
}
header {
	display : flex;
	height : 80px;
	background-color : #fff;
	justify-content : flex-end;
}
header img {
	width : 100px;
	height : 80px;
	object-fit : contain;
	margin-left : 10px;
}
#banner {
	margin-right : auto;
}
#member {
	box-sizing : border-box;
}
#member button {
	width : 50px;
	height : 20px;
	border-style: none;
	border-radius : 10px 10px;
	background-color: #fff;
	text-align : center;
	color : #000;
	font-size : 10px;
	text-decoration : none;
	margin : 10px 10px 0 0;
	cursor : pointer;
	transform: translateY(2px);
	transition: all 0.5s;
}
#member button:hover {
	border : 1px solid #7F7F7F;
	color : #fff;
	box-shadow: 0 0.5em 0.5em -0.4em #000;
	background-color: #6E6E6E;
	transform: translateY(-2px);
	transition: all 0.5s;
}
nav {
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-content : center;
	height: 60px;
	position: sticky;
	top: 0;
	z-index: 10;
}
nav ul {
	align-content: center;
}

nav li {
	font-size : 2rem;
	display: inline-block;
	list-style : none;
	padding : 3px 15px;
	transform: translate(2px, 2px);
	transition: all 0.5s;
	cursor : pointer;
}
nav li:hover {
	box-shadow: 0.5em 0.5em 1em -0.2em #000;
	border-radius: 5px 5px;
	transform: translate(-2px, -2px);
	transition: all 0.5s;
	color: blue;
}
nav a {
	width: 100px;
	text-align : center;
	line-height: 200%;
	text-decoration : none;
}