@charset "UTF-8";
/* HTML5 초기화 */
*{
	margin: 0; padding: 0;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* HEADER */
#topBack{
	width: 100%; height: 30px;
	background: #000;
}

#header{
	display: flex; /* Flexbox를 사용하여 아이템을 배치 */
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 세로 정렬 */
	width: 100%; height: 80px;
	background: #fff;
	border-bottom: 1px solid #eceff1;
}

#header .img{
	float: left;
	width: 10%;
}

#header .img img{
	height: 60px;
	padding: 10px 0 0 20px;
}

#header .nav {
    display: flex;
    justify-content: center; /* Center the nav items */
    width: 100%;
}

#header #nav{
    display: flex; /* Make the #nav a flex container */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    background: #fff;
    width: 300px;
}

.managerNav ul li a{
	color: tomato !important;
}

.managerNav ul li:hover{
	border-bottom:3px solid tomato !important;
}

#header #nav ul{
	width: 100%; height: 80px;
}

#header #nav ul li{
	float: left;
	margin-top: 30px;
	width: 25%; height: 50px; line-height: 50px;
	text-align: center;
}

#header ul li a{
	text-decoration: none;
	display:block;
	font-size: 15px;
	color: #000;
}

#header ul li:hover{
	border-bottom:3px solid #333;
}

/* 로그인/회원가입/마이페이지/로그아웃 */
#member{
	width: 100%;
	text-align: right;
	background: #fff;
}
#member button{
	margin : 10px 8px 0 0;
	padding: 4px 10px;
	border-style: none; border-radius: 10px 10px;
	font-size: 10px; color: #000;
	background: #fff;
	cursor : pointer;
}

#member button:hover {
	color : #fff;
	background-color: #000;
}

/* 검색창 */
.searchForm{
	width: auto;
	margin-top: 20px;
	padding-right: 85px;
}

#searchBox{
    transition: transform 0.5s ease; /* 위치 변경 시 부드럽게 전환 */
    white-space: nowrap; /* 줄 바꿈 방지 */
    transform: scaleX(0); /* 기본적으로 숨김 (너비 0으로 설정) */
    transform-origin: right; /* 왼쪽에서부터 확대 */
	width: 0;
}

#searchForm #search{
	float: left;
	width: 75%; height: 20px;
	border-style: none;
	border-bottom: 1px solid #000;
	margin-top: 10px; 
	outline: none;
	background: none;
}
#searchBox.show{
	width: 170px;
	transform: scaleX(1); /* 보일 때 전체 너비로 확장 */
}
.searchForm #search_imgbox {
	float: left;
	margin-left: 10px;
}

.searchForm #search_imgbox img{
	width: 25px; height: 25px;
	overflow: hidden;
}

#footer{
	width: 100%; height: 150px;
	margin-top: 250px;
	background: #000;
}

.footer{
	width: 100%; height: 100px;
	background: #000;
}

