@charset "UTF-8";
/* HTML5 초기화 */
body{
	font-size: 12px;
}

/* 클릭한 카테고리 */
.clickCtg{
	border-bottom:3px solid #333;
}

/* uesrListForm.jsp */
#products{
	margin: 0 auto; margin-top: 30px;
	width: 1000px; height: 100%;
}

#products table{
	width: 100%;
}
#products table th{
	height: 50px;
	background: #000;
	color: #fff;
}

#products table th:nth-child(1) { width: 10%;}
#products table th:nth-child(2) { width: 10%;}
#products table th:nth-child(3) { width: 10%;}
#products table th:nth-child(4) { width: 25%;}
#products table th:nth-child(5) { width: 15%;}
#products table th:nth-child(6) { width: 7%;}
#products table th:nth-child(7) { width: 6%;}
#products table th:nth-child(8) { width: 6%;}
#products table th:nth-child(9) { width: 10%;}

#products table td{
	padding: 10px;
	border-bottom: 1px solid #000;
	text-align: center;
}

#products table td img{
	width: 100px; height: 100px;
}


#products #page{
	padding-top: 5px;
	width: 90%;
}

