@charset "UTF-8";
/* 페이지 전체 스타일 */
body {
    font-family: Arial, sans-serif;
}

/* 표 스타일 */
table {
    border-collapse: collapse;
    width: 90%; /* 표를 오른쪽으로 살짝 이동시키기 위해 너비를 90%로 설정 */
    margin: 0 auto; /* 표를 가운데 정렬 */
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

/* 페이징 스타일 */
#paging {
    text-align: left;
    margin-top: 20px;
    padding-left: 5%;
}

#paging span {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    color: black; /* 기본 색상 */
}

#currentPaging {
    font-weight: bold;
    color: red !important; /* 현재 페이지 빨간색 */
}

#paging span:hover {
    color: red; /* 마우스를 갖다 대면 빨간색 */
    text-decoration: underline;
}

/* 삭제 및 수정 버튼 스타일 */
#buttonWrapper {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    margin: 20px;
}

/* 삭제 및 수정 버튼 스타일 */
#buttonWrapper {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    margin: 30px;
}

#buttonWrapper #deleteBtn, 
#buttonWrapper #modifyBtn {
    background-color: black;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-right: 10px;
    width: 120px;
    height: 40px;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
    transition: background-color 0.3s ease;
}

#buttonWrapper #deleteBtn:hover, 
#buttonWrapper #modifyBtn:hover {
    background-color: darkred;
}