@charset "UTF-8";
* {
	padding : 0;
	margin : 0;
	box-sizing : border-box !important;
}
body {
	height: 100vh;
	overflow-y: auto;
	background-color: #D1D1D1;
}
html{
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	font-size: 10px;
	background-color: #000;
}
header {
	display : flex;
	height : 80px;
	background-color : #fff;
	justify-content : flex-end;
}
header img {
	width : 100px;
	height : 80px;
	object-fit : contain;
	margin-left : 10px;
}
#banner {
	margin-right : auto;
}
#member {
	box-sizing : border-box;
}
#member button {
	width : 50px;
	height : 20px;
	border-style: none;
	border-radius : 10px 10px;
	background-color: #fff;
	text-align : center;
	color : #000;
	font-size : 10px;
	text-decoration : none;
	margin : 10px 10px 0 0;
	cursor : pointer;
	transform: translateY(2px);
	transition: all 0.5s;
}
#member button:hover {
	border : 1px solid #7F7F7F;
	color : #fff;
	box-shadow: 0 0.5em 0.5em -0.4em #000;
	background-color: #6E6E6E;
	transform: translateY(-2px);
	transition: all 0.5s;
}
#user_signup {
	width:100%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	position: relative;
}
.fs-5 {
    font-size: 2rem !important;
}
#user_signup .xbtn {
	position: absolute;
	right: 10px;
	margin: -5px;
}
.formDiv {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	width: auto;
	padding: 0;
}
#signup_user table{
	box-sizing: border-box;
	padding: .5rem;
	font-size: 2rem;
	width: auto;
	margin: 0 auto;
	text-align: center;
	align-content: center;
	border-radius: 10px;
	background-color: #fff;
}
#signup_user table input {
	text-align: left;
	width:  50rem;
	height: 5rem;
	margin: .5em 0;
	padding-left: 15px;
	font-size: 2rem;
}
#signup_user table input[type=button],
#signup_user table input[type=reset] {
	width: 10rem;
	height: 3rem;
	font-size: 1.5rem;
	text-align: center;
	padding: 0;
}
#signup_user table input::placeholder {
	color: black;
	font-size: 1.5rem;
}
#signup_user table input:focus::placeholder {
	color: blue;
	font-weight: bold;
	transition-property: font-size, background-color;
	font-size: 1.3rem;
	transition-duration: 0.5s;
}
#signup_user table input[name=email1],
#signup_user table input[name=email2] {
	width: 18rem;
}
#signup_user table select {
	width: 10rem;
	height: 3rem;
	font-size : 1.5rem;
}
#signup_user table input:focus {
	background-color: #B0B0B0;
}
#signup_user table label {
	display: inline-block;
	width: 15rem;
	height: 5rem;
	align-content: center;
}
#signup_user table td.tag {
	width: 15rem;
}
#signup_user table td.datainput{
	width: auto;
	padding-right: 6rem;
}
#signup_user table input.tel {
	width: 17.8rem;
	height: 4rem;
}
#signup_user table input[type=radio] {
	width: 2rem;
	height: 2rem;
	margin-right: 1rem;
}
#signup_user table .addr1 {
	width: 39rem;
}
#signup_user table .addr1_btn {
	font-size: 1.5rem;
	padding: 0.3rem;
	height: 3rem;
}
#signup_user table .addr2 {
	width: 50rem;
}

#signup_user table tr:last-child {
	height: 4rem;
}
.modal-lg {
	width: auto;
}
#update_user table{
	box-sizing: border-box;
	padding: 15px;
	font-size: 2rem;
	width: auto;
	margin: 0 auto;
	text-align: center;
	align-content: center;
	border-radius: 10px;
	background-color: #fff;
}
#update_user table input {
	text-align: left;
	width:  50rem;
	height: 5rem;
	margin: .5rem 0;
	padding-left: 15px;
	font-size: 2rem;
}
#update_user table input[type=button],
#update_user table input[type=reset] {
	width: 10rem;
	height: 3rem;
	font-size: 1.5rem;
	text-align: center;
	padding: 0;
}
#update_user table input::placeholder {
	color: black;
	font-size: 1.5rem;
}
#update_user table input:focus::placeholder {
	color: blue;
	font-weight: bold;
	transition-property: font-size, background-color;
	font-size: 1.3rem;
	transition-duration: 0.5s;
}
#update_user table input[name=email1],
#update_user table input[name=email2] {
	width: 18rem;
}
#update_user table select {
	width: 10rem;
	height: 3rem;
	font-size : 1.5rem;
}
#update_user table input:focus {
	background-color: #B0B0B0;
}
#update_user table label {
	display: inline-block;
	width: 15rem;
	height: 5rem;
	align-content: center;
}
#update_user table td.tag {
	width: 15rem;
}
#update_user table td.datainput{
	width: auto;
	padding-right: 6rem;
}
#update_user table input.tel {
	width: 17.8rem;
	height: 4rem;
}
#update_user table input[type=radio] {
	width: 2rem;
	height: 2rem;
	margin-right: 1rem;
}
#update_user table .addr1 {
	width: 39rem;
}
#update_user table .addr1_btn {
	font-size: 1.5rem;
	padding: 0.3rem;
	height: 3rem;
}
#update_user table .addr2 {
	width: 50rem;
}

#update_user table tr:last-child {
	height: 4rem;
}
